<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PixelsGraph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PixelsGraph.Properties.Settings>
            <setting name="NumbericColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="AxisCoordinateColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EnableCoordinateGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NoteSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DepthLine" serializeAs="String">
                <value>1.5</value>
            </setting>
        </PixelsGraph.Properties.Settings>
    </userSettings>
</configuration>